@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked";
}

<hgroup>
    <h1 class="text-danger">Your account has been locked.</h1>
    <h2 class="text-danger">Please try again later.</h2>
</hgroup>
